# Shark Dessert

  Project status(Active, Completed)
  
# Obejtivo do projeto

Objetivo do projeto:Identificar que tipo de preferencia os tubaroes tem  a depender do seu genero e atividade fisica

  Paragraph with introduction/ objective of project
# Methods

  List with methods, ex:
  - Importacao de arquivo
  - Data Cleaning
  - Data Manipulation
  - Data Agregation
 
# Technologies 

  used technologies:
  - Python
  - Pandas
# Project Description

Atraves do projeto Shark Dessert será apossivel identificar qual o tipo de preferencia dos tubaroes para
definir o seu tipo de apetitite a partirtr das caracteristicas das suas vitimas relacionadas com suas atividades e genero, podendo assim ver as preferencias dos tubaroes em determinadas atividades precavendo as pessoas para tomarem amis cuidado devido as suas atividades.

# Steps
  - Importcao do arquilo csv para analise do projeto dentro do Jupter
  - Identificando quais colunas deveriam ser analisadas para poder responder o objetivo do projeto
  - Analisei e limpei as colunas de Atividades e Sexo eliminando nomes duplos e valores nulos traves dos comandos; drop_duplicates(), .dropna().
  - Com o  .groupby foi possivel juntar todas os ataques que foram em pessoas do sexo femiunino e masculino pelas as diferentes atividades do Data Frame.
  

# Conclusion
 Foi possivle analisar e concluir que o esporte no qual as pessoas precisam ter maior cuidado e o surfe depois seguido de natacao. Com tudo a maioria dos ataques segue em pessoas do sexo masculino. 
# Contact
  linkedin, github, medium, etc

In [2]:
import pandas as pd

In [130]:
df = pd.read_csv('attacks.csv',encoding='latin1')

In [112]:
import os

In [131]:
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [132]:
df.drop_duplicates()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6307,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0,NaN,NaN
6308,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0,NaN,NaN
6309,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [133]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [135]:
projeto = df[['Activity', 'Sex ']]

In [136]:
projeto

          Activity Sex
0         Paddling    F
1         Standing    F
2          Surfing    M
3          Surfing    M
4      Free diving    M
...            ...  ...
25718          NaN  NaN
25719          NaN  NaN
25720          NaN  NaN
25721          NaN  NaN
25722          NaN  NaN

[25723 rows x 2 columns]

In [137]:
projeto.dropna(inplace=True)

/var/folders/sr/vtk0gy0936d1zxc0zcv8x7pw0000gn/T/ipykernel_80796/3630847110.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  projeto.dropna(inplace=True)

In [138]:
projeto

          Activity Sex
0         Paddling    F
1         Standing    F
2          Surfing    M
3          Surfing    M
4      Free diving    M
...            ...  ...
6296      Swimming    M
6297        Diving    M
6298  Pearl diving    M
6299      Swimming    M
6301      Swimming    M

[5344 rows x 2 columns]

In [139]:
teste1= projeto['Sex '] =='F'
projeto[teste1]['Activity'].value_counts()

Swimming                                          154
Surfing                                            55
Wading                                             54
Snorkeling                                         42
Standing                                           28
                                                 ...
Swimming with boogie board                          1
Holding onto an inflatable boat                     1
Competing in the Woodvale Atlantic Rowing Race      1
Free diving / modeling                              1
Swimming with fish attached to  belt                1
Name: Activity, Length: 168, dtype: int64

In [144]:
df.groupby(['Activity','Sex '])['Case Number'].count().sort_values(ascending=False)

Activity                                     Sex
Surfing                                      M       890
Swimming                                     M       691
Fishing                                      M       329
Spearfishing                                 M       312
Swimming                                     F       154
                                                    ...
Floating on a small orange raft              M         1
Floating near boat & observing bioluminesce  M         1
Floating in tube                             F         1
Floating in creek                            M         1
yachtsman in a zodiac                        M         1
Name: Case Number, Length: 1448, dtype: int64